/node_modules
/public/storage
/storage/*.key
/vendor
/public/*
/uploads/*
/phpminiadmin.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage

