body.skin-blue .wrapper, 
body.skin-blue .left-side{
	background: #ecf0f5;
}
body a{
	color: #34558b;
}
body a:hover{
	color: #26416d;
}
body .btn{
	min-width: 10em;    
	padding: 1em;
    line-height: normal;
    height: auto;
	border-radius: 0;
	background: #34558b;
	color: #fff;
}
body .row{
	display: flex;
	flex-wrap: wrap;
}
body .row:before{
	display: none;
} 
body .row form{
	width: 100%;
}
html body .row input.btn{
	margin-bottom: 0;
}
.box-body .rapCalendar{
	background: #fff;
	border-radius: 0;
	box-shadow: none;
    margin-left: 1.5rem;
    margin-right: -.3125rem;
}
.box-body .rapCalendar table{
	width: 100%;
}
.box-body .rapCalendar table *{
	text-shadow: none;
}
.box-body .rapCalendar table caption{
	text-align: center;
	font-weight: 600;
	color: #000;
}
.box-body .rapCalendar table .larr,
.box-body .rapCalendar table .rarr{
	color: #000;
}
.box-body .rapCalendar table .larr:hover,
.box-body .rapCalendar table .rarr:hover{
	color: #777;
}
.box-body .rapCalendar table tr{
	display: flex;
	width: 100%;
}
.box-body .rapCalendar table th,
.box-body .rapCalendar table td{
	text-align: center;
	padding: 1rem .5rem;
	color: #000;
	border: none;
	width: calc(100% / 7);
	height: auto;
}
.box-body .rapCalendar table td.calDisable{
	color: #999;
	opacity: .75;
}
.box-body .rapCalendar table td:hover,
.box-body .rapCalendar table td.calSelected,
body .btn-primary,
body.skin-blue .main-header .navbar,
body.skin-blue .main-header .logo{
	background: #34558b;
	color: #fff;
	border-color: #34558b;
	border-radius: 0;
}
body .btn-primary:hover,
body .btn:hover,
body .btn-primary:focus,
body .btn:focus,
body .btn-primary:active,
body .btn:active,
body .btn-primary:active:focus,
body .btn:active:focus,
body .btn-primary:active:active,
body .btn:active:active{
	background-color: #26416d;
	border-color: #26416d;
	color: #fff;
}
.box-body .rapCalendar table td:empty:hover,
.box-body .rapCalendar table td.calDisable{
	background: none;
	color: #999;
}
html body.skin-blue .main-header li.user-header{
	background: #34558b;
}

/* Availbility time slots styling */
.box-body #dateSlots{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
	width: auto;
	margin: 0 -1rem;
}
.box-body #dateSlots .boxslots{
    margin: 1rem;
	padding: 0;
	text-align: center;
	width: 10rem;
}
.box-body #dateSlots .boxslots label{
    border: 0.1rem solid #e2e8f0;
    padding: 1rem;
    width: 100%;
    margin-right: 3.25rem;
	margin-bottom: 0;
}
.box-body #dateSlots .boxslots input[type=checkbox]:checked + label{
	background: #34558b;
	color: #fff;
}
.sidebar-mini.sidebar-collapse .wrapper .main-header .logo{
	padding: 0;
}
.sidebar-mini.sidebar-collapse .wrapper .main-header .logo > .logo-lg{
	display: block;
	padding: 0;
    overflow: hidden;
    white-space: nowrap;
}
.sidebar-mini.sidebar-collapse .wrapper .main-header .logo > .logo-lg b{
	display: none;
}
.sidebar-mini.sidebar-collapse .wrapper .main-header .logo > .logo-lg img{
	width: auto !important;
	height: 4rem;
    margin: .3125rem 0 0;
}
.sidebar-mini.sidebar-collapse .wrapper .main-header .logo > .logo-mini{
	display: none;
}
.card hr {
    display: none;
}
.card {
    margin-bottom: 3rem;
    background: #f2f2f2;
    padding: 1.5rem;
}
body .table > tbody > tr > td, 
body .table > tbody > tr > th, 
body .table > tfoot > tr > td, 
body .table > tfoot > tr > th, 
body .table > thead > tr > td, 
body .table > thead > tr > th{
	padding: 1.5rem 1rem;
	vertical-align: middle;
}
body .table > tbody > tr > td:last-child{
	min-width: 10rem;
}
form input.form-control, 
body input[type="submit"].btn {
    margin-bottom: 1.5em;
    padding: 0.972em 1em;
    height: auto;
    font-size: 1em;
    line-height: normal;
    min-width: 10em;
    width: 100%;
} 
form .form-group input.form-control, 
body .form-group input[type="submit"].btn{
	margin-bottom: 0;
}
form select.form-control,
body select.form-control{
	padding: .972em 1em;
    margin-bottom: 1.5em;
    height: auto;
    font-size: 1em;
    line-height: normal;
    min-width: 10em;
}
/*.form-group select.form-control{
	display: none;
}*/
.form-group .select2-container{
	max-width: 100%;
}
.form-group .select2-container .select2-selection--single{
	padding: 0;
	line-height: normal;
	height: auto;
}
.form-group .select2-container .select2-selection--single .select2-selection__rendered{
	margin-top: 0;
	padding: 1em;
	line-height: normal;
	height: auto;
}
body .select2-container--default .select2-results__option--selected{
	background-color: #34558b !important;
	color: #fff !important;
}
body .select2-container--default .select2-results__option--selected:hover{
	background-color: #26416d !important;
	color: #fff !important;
}
.form-group .field-icon{
	margin: 0;
	top: 3em;
	right: 1.5em;
	position: absolute;
}
body input[type=date].form-control,
body input[type=datetime-local].form-control, 
body input[type=month].form-control, 
body input[type=time].form-control{
	padding: .858em 1em;
	line-height: normal;
}
body input.btn.btn-primary {
    /*margin-top: .3125em;*/
	border-radius: 0;
}
body .table > tbody > tr > td span{
	display: inline-block;
	padding: 0.972em 1em;
	min-width: 11.25em;
}
body .table > tbody > tr > td span.label.label-success,
.btn.create_list_margin{
	background: #34558b !important;
	color: #fff !important;
	padding: 0.972em 1em;
}
body .table > tbody > tr > td span.label.label-warning{
	background: #e5e5e5 !important;
	color: #34558b !important;
}
.btn.create_list_margin:hover{
	background: #26416d !important;
	color: #fff !important;
}

/*23rd June Styling*/
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 40px !important;
}
#rowbody .card:hover {
    background: #34558b;
    color: #fff;
}
#rowbody .card{
	cursor: pointer;
}
#rowbody .card:hover .fa-arrow-up:before{
	color: #fff;
}

/* 24th June Styling */
/*.small-box h3{
	font-weight: 900 !important;
}*/
.box-body .small-box h3{
	font-weight: 900;
}
html body section.content tbody tr td a:hover,
html body section.content tbody tr td a:focus,
html body section.content tbody tr td a:active {
    color: #000;
    background: transparent !important;
}
a.btn.btn-default.btn-flat:hover {
    background: #34558b;
    color: #fff !important;
    border-color: #34558b;
}
body .content{
	padding: 0 1em;
}
.content .box{
	border-top: none;
	border-radius: 0;
}
.box .box-header{
	padding: 20px;
}
html body .box-header{
	display: flex;
	padding: 0;
	margin-bottom: 1.5em;
	align-items: center;
	justify-content: space-between;
}
html body .box-header:before,
html body .box-header:after{
	display: none;
}
html body .box-header .box-title{
	font-weight: bold;
	font-size: 23px;
	border-radius: 0;
}
.box-body .small-box:hover {
    color: #34558b;
}
.small-box .small-box-footer{
	color: #000 !important;
}
.small-box .small-box-footer:hover{
	color: #fff !important;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: none !important;
}
.col-lg-12.margin-tb {
    padding-right: 3em;
}
body .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
    min-width: 9em;
	/*color: #fff;**/
	background: #f2f2f2;
}
body .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover {
	color: #fff;
	background: #34558b;
}
.box input[type=checkbox], .box input[type=radio]{
	margin: 0 6px 0 0;
	display: inline-block;
	vertical-align: middle;
}
.selection .select2-container--default .select2-selection--multiple{
	padding-top: 21px;
	padding-bottom: 21px;
}

/* 25th June Styling */
/*section.content tr td .label {
    border-radius: 0;
}*/
body.skin-blue .main-header .logo:hover{
	background: #34558b;
}
body.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background: #26416d !important;
    border-color: #26416d !important;
}
html body *{
	border-radius: 0 !important;
}
html body .img-circle {
    border-radius: 50% !important;
}
html body .navbar-nav>.user-menu .user-image{
	border-radius: 50% !important;
}
.box-body .rapCalendar table th, .box-body .rapCalendar table td{
	border: 0.125rem solid #fff !important;
	line-height: 1.33333;
}
div#rowbody .active .card {
    background: #34558b;
    color: #fff;
}
div#rowbody .active .card .fa-arrow-up:before{
	color: #fff;
}
html body.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background: #34558b !important;
	border: #34558b !important;
}
.form-group .select2-container--default .select2-selection--multiple{
	margin-bottom: 1.5em;
}
.form-group .select2-container .select2-selection--multiple{
	min-height: 46px;
	margin-bottom: 0;
	padding: 1rem;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	border-right: none !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	background-color: #34558b !important;
    border-color: #34558b !important;
}
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single{
	height: 46px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	/*padding-top: 5px !important;*/
}
/*.box-body .col-md-12, .col-md-12 .col-md-6 {
    padding: 0;
}
.box-body .col-md-6, .col-md-6 .col-sm-3{
	padding: 0;
}*/

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
	margin-bottom: 0;
}
.form-group .select2-container--default .select2-selection--multiple .select2-selection__choice{
	padding-left: 0;
	margin: 0.125rem;
}
.form-group .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	margin-right: 0;
	position: inherit;
}
button.select2-selection__choice__remove:hover {
    background: #26416d !important;
}
td .fa {
    margin-right: 0.5em;
}
td a.fa:last-child, td a:last-child .fa{
	margin-right: 0;
}
/*.box-body .form-group {
    margin-bottom: 0;
}*/
span.select2.select2-container.select2-container--default {
    width: 100% !important;
}
html body .box-header{
	margin-bottom: 0;
	padding: 20px;
	background: #fff;
}
html body .box-body .box-header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
}
.box .box-body{
	padding: 10px 25px;
}
.modal-content .modal-body{
	padding: 20px 25px;
}
.dataTables_info{
	padding: 1em 0;
}
*{
	box-shadow: none !important;
}
.form-group button.btn.btn-primary {
    float: right;
}
.box-header .modal-content .modal-body {
    padding: 0;
}
html body .box-header .modal-content .modal-header {
    padding: 0 0 10px 0;
    margin-top: -1em;
    border-bottom: none;
}
.col-md-6.pl---0{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.col-md-12.pl---0{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.col-sm-12.pl---0{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.col-sm-3.pl---0{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.form-group label.form-control{
	height: auto;
    min-height: 46px;
    padding: 12px 12px;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	margin-top: 0 !important;
}

.table.table-bordered.table-striped.m---0{
    margin: 0 !important;
}
.box-header.send--noti{
	padding: 25px;
}
body a.btn.btn-primary:active{
	background: #26416d !important;
}
form div .form-group + span img{
	margin-bottom: 1.5em;
}
.content .alert {
	/*position: absolute;
	top: 4.625em;
	right: 1em;
	z-index: 99999;*/
	max-width: 40em;
	width: 100%;
    border: none;
	font-weight: 600;
}
.alert.alert-success.alert-block {
    background: #fff !important;
    color: #34558b !important;
}
.content .alert.alert-danger {
    background: #fff !important;
    color: #f00 !important;
}
/*.content .alert + .row,
.content .alert + .box-header{
	margin-top: 4.5em;
}*/
body .box-header:empty{
	padding-top: 0;
}
div.revenue__block {
    border: 1px solid #d2d6de;
	padding: 1.5rem;
}
div.revenue__block:empty {
    border: none;
}
div.revenue__block .highcharts-container,
div.revenue__block .highcharts-root{
	max-width: 100%;
}
.custom-checkbox + .custom-checkbox {
    margin-top: 1.5rem;
}
.custom-checkbox .custom-control-label{
	position: relative;
	padding-left: 2.5rem;
	margin-bottom: 0;
	cursor: pointer;
}
.custom-checkbox .custom-control-label span{
	padding: 0;
}
.custom-checkbox .custom-control-label input{
	display: none;
}
.custom-checkbox .custom-control-label span:before{
	content: '';
    width: 2rem;
    height: 2rem;
    top: 0rem;
    border: 0.0625rem solid #aaa;
    position: absolute;
    left: 0;
}
.custom-checkbox .custom-control-label input:checked + span:before{
	background-color: #34558b; 
}
.custom-checkbox .custom-control-label input:checked + span:after{
	content: '';
    width: .75rem;
    height: 1.25rem;
    border: solid #fff;
    border-width: 0 0.3125rem 0.3125rem 0;
    position: absolute;
    left: 0.625rem;
    top: 0.2rem;
    transform: rotate(45deg);
}
.form-radios-keys {
    display: flex;
}
.form-radio + .form-radio {
    margin-left: 1.5rem;
}
.form-radio input[type="radio"] {
    display: none;
}
.form-radio label {
    position: relative;
    padding-left: 2.25rem;
}
.form-radio label:before {
	content: '';
	width: 1.5rem;
	height: 1.5rem;
	border: 0.0625rem solid #000;
	position: absolute;
	left: 0;
	top: 0.1rem;
}
.form-radio input:checked + label:before {
    border-color: #34558b;
    background-color: #34558b;
}
.form-radio input:checked + label:after {
	content: '';
	width: 0.5rem;
	height: 1rem;
	left: 0.5rem;
	position: absolute;
	border: solid #fff;
	border-width: 0 0.25rem 0.25rem 0;
	top: 0.25rem;
	transform: rotate(40deg);
}